        <h2>Recipe Catalog</h2>
        <section class="recipes">
                {{#each recepies}}
                {{> catalogpart}}
            {{else}}
                <p class="no-post">There are no recipes found yet!</p>
            {{/each}}
        </section>